body{
    margin: 0;
    font-family: monospace;
    line-height: 1.5;
   
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 2em;
}

.face,
section,
header{
    background-color: black;
    color: white;
}
h1, 
h2,
h3,
p{
    margin: 0%;
    flex-wrap: wrap;
}

.news_Newimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    margin-top: 5em;

}
nav{
    text-align:center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.news{
    outline-style: inset;
    outline-color: rgb(19, 19, 19);
}
.News_Newsdes{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.News_NewTitle{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.artnames{ 
    color: rgb(255, 255, 255);
    padding-left: 1.5rem;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}
.artnamesM{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}
.at{
    color: rgb(100, 0, 0);
    font-weight: 900;
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
}
.link{
    color: rgb(100, 0, 0);
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}
.linkc{
    color: rgb(100, 0, 0);
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}
.mainartist{
    text-decoration: none;
    text-align: center;
}
.artists{
    background-color: rgb(8, 8, 8);
    outline-style: inset;
    outline-width: 0.2rem;
    outline-color: rgb(104, 104, 104);
}
.st{
    text-align: center;
    font-size: 2.5em;
}

.artimg{
    height: 9rem;
    width: 9rem;
    display: inline-flex;
    justify-content: center;
}
.artimgD{
    height: 9rem;
    width: 9rem;
    border-radius: 4em;
    display: inline-flex;
    justify-content: center;
}

.container,
.containernav{
    width: 85%;
    max-width: 65cm;
    margin: 0% auto;
}
.btn{
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    background: red;
    font-weight: 900;
    text-transform: uppercase;
    padding: .25cm .3cm;
    color: white;
    border-radius: 2mm;
    transition: 
        250ms ease-in-out;
        opacity: 250ms linear;
}
.btnL{
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    background: red;
    font-weight: 700;
    text-transform: uppercase;
    padding: .25cm .3cm;
    color: white;
    border-radius: 2mm;
    transition: 
        250ms ease-in-out;
        opacity: 250ms linear;
}
.btnL:hover,
.btnL:focus,
.btn:hover,
.btn:focus
{
    transform: scale(1.1);
    opacity: 25%;
}
.ANav{
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 
        250ms ease-in-out;
        opacity: 250ms linear;
}

.Nav{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    text-decoration: none;
    transition: 
        250ms ease-in-out;
        opacity: 250ms linear;
}
.ANav:focus,
.ANav:hover,
.Nav:focus,
.Nav:hover{
    transform: scale(1.1);
    opacity: 25%;
}

.mt{
    font-size: 4rem;
    line-height: 1.1;
    text-transform: uppercase;
    text-shadow: 1.5cm;
}
.ct{
    font-size: 1.5em;
    opacity: 75%;
}
.basetxt{
    padding-top: 2rem;
    text-align: flex;
    font-size: 1.5rem;
}

.hero{
    text-align: center;
    padding: 10rem 0;
    background: radial-gradient(#272727,  #2e2e2e); 
    background: url(/Images/RecordsPng.png), 
        radial-gradient(#272727,  #2e2e2e); 
    background-size: 10%;
    background-blend-mode: multiply; 
}

.date{
    opacity: 15%;
    font-size: 1.5em;
    text-align: center;
}
.news_titleU{
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
}
.news_section{
    padding-bottom: 5em;
    text-align: center;
    padding-top: 5em;
}
.AB{
    float: left;
    width: 50%;
}
.Ab_name{
    margin-top: 3rem;
    font-size: 3em;
}
.ab_more{
    font-size: 1rem;
    text-transform: capitalize;
}
.news_title{
    margin-top: 3rem;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}
.row > *{
    flex-basis: 15%;
    min-width: 15em;
}
.mantasart{
    width: 10rem;
}

.MainLogin{
    margin: 5em;
    outline-width: 0.1em;
    background-color:rgb(12, 12, 12);
}
.centerf{
    text-align: center;
    font-size: 2.5em;
    width: 100%;
    background-color: black;
    padding-bottom: 1.5em;
}
input{
    font-size: 1.5em;
    width: 100%;   
    margin: 8px 0;  
    padding: 18px 3px;   
    display: inline-block;   
    box-sizing: border-box;  
    color: white;
    background-color: rgb(27, 27, 27);
}
.LoginCenterText{
    text-align: center;
}
.btncenter{
    text-align: center;
}
.btnlogin{
    border: none;
    font-size: 2em;
    font-family: monospace;
    color: white;
    background-color: rgb(27, 27, 27);
}
label{
    font-size: 2em;
    display: inline-block;
}









@supports (background-blend-mode: multiply){
    .hero{
        background: url(/Images/recordsgay.png), 
            radial-gradient(#272727,  #2e2e2e); 
        background-size: 10%;
        background-blend-mode: multiply;
    }
}